In [3]:
import pandas as pd

In [4]:
# zad1
user_rated = pd.read_csv('user_ratedmovies.dat', sep='\t', nrows=100)
movie_genres = pd.read_csv('movie_genres.dat', sep='\t')
result = user_rated.merge(movie_genres, on='movieID')
result.to_csv("merged.csv", sep='\t')

result.iloc[:10]

,userID,movieID,rating,date_day,date_month,date_year,date_hour,date_minute,date_second,genre
0,75,3,1.0,29,10,2006,23,17,16,Comedy
1,75,3,1.0,29,10,2006,23,17,16,Romance
2,75,32,4.5,29,10,2006,23,23,44,Sci-Fi
3,75,32,4.5,29,10,2006,23,23,44,Thriller
4,78,32,5.0,7,5,2004,23,32,18,Sci-Fi
5,78,32,5.0,7,5,2004,23,32,18,Thriller
6,75,110,4.0,29,10,2006,23,30,8,Action
7,75,110,4.0,29,10,2006,23,30,8,Drama
8,75,110,4.0,29,10,2006,23,30,8,War
9,78,110,3.5,11,7,2004,11,44,24,Action

In [5]:
ratings_one_hot = pd.concat([result, pd.get_dummies(result['genre'], prefix='genre')], axis=1)

ratings_one_hot_grouped = ratings_one_hot.groupby(['userID', 'movieID', 'rating']).sum().drop(
    [col for col in ratings_one_hot.columns if 'date' in col], axis=1)

ratings_one_hot_grouped.iloc[:10]

                       genre_Action  genre_Adventure  genre_Animation  \
userID movieID rating
75     3       1.0                0                0                0
       32      4.5                0                0                0
       110     4.0                1                0                0
       160     2.0                1                1                0
       163     4.0                1                0                0
       165     4.5                1                0                0
       173     3.5                1                0                0
       296     5.0                0                0                0
       353     3.5                1                0                0
       420     2.0                1                0                0

                       genre_Children  genre_Comedy  genre_Crime  \
userID movieID rating
75     3       1.0                  0             1            0
       32      4.5                  0             0            0
       110     4.0                  0             0            0
       160     2.0                  0             0            0
       163     4.0                  0             0            0
       165     4.5                  0             0            1
       173     3.5                  0             0            1
       296     5.0                  0             1            1
       353     3.5                  0             0            1
       420     2.0                  0             1            1

                       genre_Documentary  genre_Drama  genre_Fantasy  \
userID movieID rating
75     3       1.0                     0            0              0
       32      4.5                     0            0              0
       110     4.0                     0            1              0
       160     2.0                     0            0              0
       163     4.0                     0            0              0
       165     4.5                     0            0              0
       173     3.5                     0            0              0
       296     5.0                     0            1              0
       353     3.5                     0            0              1
       420     2.0                     0            0              0

                       genre_Film-Noir  genre_Horror  genre_Musical  \
userID movieID rating
75     3       1.0                   0             0              0
       32      4.5                   0             0              0
       110     4.0                   0             0              0
       160     2.0                   0             0              0
       163     4.0                   0             0              0
       165     4.5                   0             0              0
       173     3.5                   0             0              0
       296     5.0                   0             0              0
       353     3.5                   0             0              0
       420     2.0                   0             0              0

                       genre_Mystery  genre_Romance  genre_Sci-Fi  \
userID movieID rating
75     3       1.0                 0              1             0
       32      4.5                 0              0             1
       110     4.0                 0              0             0
       160     2.0                 1              0             1
       163     4.0                 0              1             0
       165     4.5                 0              0             0
       173     3.5                 0              0             1
       296     5.0                 0              0             0
       353     3.5                 0              0             0
       420     2.0                 0              0             0

                       genre_Thriller  genre_War  genre_Western
userID movieID rating
75     3       1.0                  0          0              0
       32      4.5                  1          0              0
       110     4.0                  0          1              0
       160     2.0                  0          0              0
       163     4.0                  1          0              0
       165     4.5                  1          0              0
       173     3.5                  0          0              0
       296     5.0                  0          0              0
       353     3.5                  1          0              0
       420     2.0                  1          0              0

In [6]:
genres_columns = list(ratings_one_hot_grouped.columns)
genres_columns

['genre_Action',
 'genre_Adventure',
 'genre_Animation',
 'genre_Children',
 'genre_Comedy',
 'genre_Crime',
 'genre_Documentary',
 'genre_Drama',
 'genre_Fantasy',
 'genre_Film-Noir',
 'genre_Horror',
 'genre_Musical',
 'genre_Mystery',
 'genre_Romance',
 'genre_Sci-Fi',
 'genre_Thriller',
 'genre_War',
 'genre_Western']

In [7]:
user_rated = pd.read_csv('user_ratedmovies.dat', sep='\t', nrows=100)
movie_genres = pd.read_csv('movie_genres.dat', sep='\t')
merged = user_rated.merge(movie_genres, on='movieID')
merged.to_csv("merged.csv", sep='\t', index=False)

In [8]:
import numpy as np
merged = pd.read_csv('merged.csv', sep='\t', )
# tworzymy slownik ze wszystkich gatunkow
genre_columns = merged['genre']
avg_genre_ratings = dict.fromkeys(genre_columns, 0)

# dla kazdego gatunku liczymy srednia ocen
for x in avg_genre_ratings:
    avg_genre_ratings[x] = np.nanmean(merged.loc[merged['genre'] == x]['rating'])

avg_genre_ratings

{'Comedy': 3.7916666666666665,
 'Romance': 3.4615384615384617,
 'Sci-Fi': 3.5185185185185186,
 'Thriller': 3.90625,
 'Action': 3.6145833333333335,
 'Drama': 3.9069767441860463,
 'War': 3.5,
 'Adventure': 3.5357142857142856,
 'Mystery': 3.5,
 'Crime': 4.15,
 'Fantasy': 3.375,
 'Horror': 3.5,
 'Western': 3.25,
 'Children': 3.5,
 'Animation': 4.4,
 'Musical': 4.0,
 'Film-Noir': 4.75,
 'Documentary': 4.5}

In [9]:
d = merged.copy()
d.iloc[:10]

,userID,movieID,rating,date_day,date_month,date_year,date_hour,date_minute,date_second,genre
0,75,3,1.0,29,10,2006,23,17,16,Comedy
1,75,3,1.0,29,10,2006,23,17,16,Romance
2,75,32,4.5,29,10,2006,23,23,44,Sci-Fi
3,75,32,4.5,29,10,2006,23,23,44,Thriller
4,78,32,5.0,7,5,2004,23,32,18,Sci-Fi
5,78,32,5.0,7,5,2004,23,32,18,Thriller
6,75,110,4.0,29,10,2006,23,30,8,Action
7,75,110,4.0,29,10,2006,23,30,8,Drama
8,75,110,4.0,29,10,2006,23,30,8,War
9,78,110,3.5,11,7,2004,11,44,24,Action

In [10]:
for x in avg_genre_ratings:
    d.loc[d['genre'] == x, 'rating'] = d['rating'] - avg_genre_ratings[x]
d.iloc[:10]

,userID,movieID,rating,date_day,date_month,date_year,date_hour,date_minute,date_second,genre
0,75,3,-2.791667,29,10,2006,23,17,16,Comedy
1,75,3,-2.461538,29,10,2006,23,17,16,Romance
2,75,32,0.981481,29,10,2006,23,23,44,Sci-Fi
3,75,32,0.593750,29,10,2006,23,23,44,Thriller
4,78,32,1.481481,7,5,2004,23,32,18,Sci-Fi
5,78,32,1.093750,7,5,2004,23,32,18,Thriller
6,75,110,0.385417,29,10,2006,23,30,8,Action
7,75,110,0.093023,29,10,2006,23,30,8,Drama
8,75,110,0.500000,29,10,2006,23,30,8,War
9,78,110,-0.114583,11,7,2004,11,44,24,Action

In [11]:
def zad5():
    merged = pd.read_csv('merged.csv', sep='\t')
    # tworzymy slownik ze wszystkich gatunkow
    genre_columns = merged['genre']
    avg_genre_ratings = dict.fromkeys(genre_columns, 0)

    # dla kazdego gatunku liczymy srednia ocen
    for x in avg_genre_ratings:
        avg_genre_ratings[x] = np.nanmean(merged.loc[merged['genre'] == x]['rating'])

    # raringi pomniejszone o srednia ocene danego filmu
    for x in avg_genre_ratings:
        merged.loc[merged['genre'] == x, 'rating'] = merged['rating'] - avg_genre_ratings[x]


    return avg_genre_ratings, merged

def zad6(user_id):
    merged = pd.read_csv('merged.csv', sep='\t')
    # tworzymy slownik ze wszystkich gatunkow
    genre_columns = merged['genre']
    avg_genre_ratings = dict.fromkeys(genre_columns, 0)

    # dla kazdego gatunku liczymy srednia dla danego usera
    for x in avg_genre_ratings:
        avg_genre_ratings[x] = np.nanmean(merged["rating"][(merged['genre'] == x) & (merged['userID'] == user_id)])

    # dodajemy userID do slownika
    avg_genre_ratings['userID'] = user_id
    return avg_genre_ratings

In [12]:
zad5()

({'Comedy': 3.7916666666666665,
  'Romance': 3.4615384615384617,
  'Sci-Fi': 3.5185185185185186,
  'Thriller': 3.90625,
  'Action': 3.6145833333333335,
  'Drama': 3.9069767441860463,
  'War': 3.5,
  'Adventure': 3.5357142857142856,
  'Mystery': 3.5,
  'Crime': 4.15,
  'Fantasy': 3.375,
  'Horror': 3.5,
  'Western': 3.25,
  'Children': 3.5,
  'Animation': 4.4,
  'Musical': 4.0,
  'Film-Noir': 4.75,
  'Documentary': 4.5},
      userID  movieID    rating  date_day  date_month  date_year  date_hour  \
 0        75        3 -2.791667        29          10       2006         23
 1        75        3 -2.461538        29          10       2006         23
 2        75       32  0.981481        29          10       2006         23
 3        75       32  0.593750        29          10       2006         23
 4        78       32  1.481481         7           5       2004         23
 5        78       32  1.093750         7           5       2004         23
 6        75      110  0.385417        29          10       2006         23
 7        75      110  0.093023        29          10       2006         23
 8        75      110  0.500000        29          10       2006         23
 9        78      110 -0.114583        11           7       2004         11
 10       78      110 -0.406977        11           7       2004         11
 11       78      110  0.000000        11           7       2004         11
 12       75      160 -1.614583        29          10       2006         23
 13       75      160 -1.535714        29          10       2006         23
 14       75      160 -1.500000        29          10       2006         23
 15       75      160 -1.518519        29          10       2006         23
 16       75      163  0.385417        29          10       2006         23
 17       75      163  0.538462        29          10       2006         23
 18       75      163  0.093750        29          10       2006         23
 19       75      165  0.885417        29          10       2006         23
 20       75      165  0.350000        29          10       2006         23
 21       75      165  0.593750        29          10       2006         23
 22       75      173 -0.114583        29          10       2006         23
 23       75      173 -0.650000        29          10       2006         23
 24       75      173 -0.018519        29          10       2006         23
 25       75      296  1.208333        29          10       2006         23
 26       75      296  0.850000        29          10       2006         23
 27       75      296  1.093023        29          10       2006         23
 28       78      296  0.708333         8           5       2004          6
 29       78      296  0.350000         8           5       2004          6
 ..      ...      ...       ...       ...         ...        ...        ...
 265      78      608  0.593750         7           5       2004         23
 266      78      671  0.208333         9           7       2004          2
 267      78      671  0.481481         9           7       2004          2
 268      78      720  0.964286         9           7       2004          2
 269      78      720  0.100000         9           7       2004          2
 270      78      720  0.708333         9           7       2004          2
 271      78      728  0.208333         9           7       2004          2
 272      78      741  0.100000        16           4       2007          4
 273      78      741  0.981481        16           4       2007          4
 274      78      745  0.600000         7           5       2004         22
 275      78      745  1.500000         7           5       2004         22
 276      78      745  1.208333         7           5       2004         22
 277      78      750  1.208333         7           5       2004         23
 278      78      750  1.500000         7           5       2004         23
 279      78      760  0.093023        11           7       2004         11
 280      78      760  0.500000        11           7       2004         11
 281      78      778  1.208333         7           5       2004         23
 282      78      778  0.850000         7           5       2004         23
 283      78      778  1.093023         7           5       2004         23
 284      78      780 -1.114583         7           5       2004         23
 285      78      780 -1.035714         7           5       2004         23
 286      78      780 -1.018519         7           5       2004         23
 287      78      780 -1.000000         7           5       2004         23
 288      78      800  0.093023         9           7       2004          2
 289      78      858 -0.150000         9           7       2004          2
 290      78      858  0.093023         9           7       2004          2
 291      78      903  0.093023         9           7       2004          2
 292      78      903  0.500000         9           7       2004          2
 293      78      903  0.538462         9           7       2004          2
 294      78      903  0.093750         9           7       2004          2

      date_minute  date_second      genre
 0             17           16     Comedy
 1             17           16    Romance
 2             23           44     Sci-Fi
 3             23           44   Thriller
 4             32           18     Sci-Fi
 5             32           18   Thriller
 6             30            8     Action
 7             30            8      Drama
 8             30            8        War
 9             44           24     Action
 10            44           24      Drama
 11            44           24        War
 12            16           52     Action
 13            16           52  Adventure
 14            16           52    Mystery
 15            16           52     Sci-Fi
 16            29           30     Action
 17            29           30    Romance
 18            29           30   Thriller
 19            25           15     Action
 20            25           15      Crime
 21            25           15   Thriller
 22            17           37     Action
 23            17           37      Crime
 24            17           37     Sci-Fi
 25            24           49     Comedy
 26            24           49      Crime
 27            24           49      Drama
 28            46           26     Comedy
 29            46           26      Crime
 ..           ...          ...        ...
 265            3           50   Thriller
 266           34           34     Comedy
 267           34           34     Sci-Fi
 268           24           58  Adventure
 269           24           58  Animation
 270           24           58     Comedy
 271           34           20     Comedy
 272           58            9  Animation
 273           58            9     Sci-Fi
 274           48           10  Animation
 275           48           10   Children
 276           48           10     Comedy
 277            3           45     Comedy
 278            3           45        War
 279           43           19      Drama
 280           43           19        War
 281           32            6     Comedy
 282           32            6      Crime
 283           32            6      Drama
 284           44           48     Action
 285           44           48  Adventure
 286           44           48     Sci-Fi
 287           44           48        War
 288           34           31      Drama
 289           27           50      Crime
 290           27           50      Drama
 291           34           55      Drama
 292           34           55    Mystery
 293           34           55    Romance
 294           34           55   Thriller

 [295 rows x 10 columns])

In [15]:
zad6(75)

/home/vagrant/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:26: RuntimeWarning: Mean of empty slice

{'Comedy': 3.2,
 'Romance': 2.0,
 'Sci-Fi': 3.34375,
 'Thriller': 3.92,
 'Action': 3.682926829268293,
 'Drama': 3.588235294117647,
 'War': 2.875,
 'Adventure': 3.3684210526315788,
 'Mystery': 3.1666666666666665,
 'Crime': 4.153846153846154,
 'Fantasy': 3.2,
 'Horror': 3.5,
 'Western': 2.5,
 'Children': 2.5,
 'Animation': 4.0,
 'Musical': 4.5,
 'Film-Noir': 5.0,
 'Documentary': nan,
 'userID': 75}

In [76]:
avg_all, _ = zad5()
avg_user = zad6(75)
# avg_all = list(avg_all.values())
# avg_user = list(avg_user.values())
avg_all

/home/vagrant/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:9: RuntimeWarning: Mean of empty slice
  if __name__ == '__main__':

{'Comedy': 3.7916666666666665,
 'Romance': 3.4615384615384617,
 'Sci-Fi': 3.5185185185185186,
 'Thriller': 3.90625,
 'Action': 3.6145833333333335,
 'Drama': 3.9069767441860463,
 'War': 3.5,
 'Adventure': 3.5357142857142856,
 'Mystery': 3.5,
 'Crime': 4.15,
 'Fantasy': 3.375,
 'Horror': 3.5,
 'Western': 3.25,
 'Children': 3.5,
 'Animation': 4.4,
 'Musical': 4.0,
 'Film-Noir': 4.75,
 'Documentary': 4.5}

In [77]:
avg_user

{'Comedy': 3.2,
 'Romance': 2.0,
 'Sci-Fi': 3.34375,
 'Thriller': 3.92,
 'Action': 3.682926829268293,
 'Drama': 3.588235294117647,
 'War': 2.875,
 'Adventure': 3.3684210526315788,
 'Mystery': 3.1666666666666665,
 'Crime': 4.153846153846154,
 'Fantasy': 3.2,
 'Horror': 3.5,
 'Western': 2.5,
 'Children': 2.5,
 'Animation': 4.0,
 'Musical': 4.5,
 'Film-Noir': 5.0,
 'Documentary': nan,
 'userID': 75}

In [78]:
difference = dict.fromkeys(list(avg_all.keys()), 0)
for x in avg_all:
    if np.isnan(avg_user[x]):
        difference[x] = 0
        continue
    difference[x] = avg_all[x] - avg_user[x]
difference

{'Comedy': 0.5916666666666663,
 'Romance': 1.4615384615384617,
 'Sci-Fi': 0.1747685185185186,
 'Thriller': -0.013749999999999929,
 'Action': -0.06834349593495936,
 'Drama': 0.31874145006839916,
 'War': 0.625,
 'Adventure': 0.16729323308270683,
 'Mystery': 0.3333333333333335,
 'Crime': -0.0038461538461538325,
 'Fantasy': 0.17499999999999982,
 'Horror': 0.0,
 'Western': 0.75,
 'Children': 1.0,
 'Animation': 0.40000000000000036,
 'Musical': -0.5,
 'Film-Noir': -0.25,
 'Documentary': 0}

In [73]:
def zad6(user_id):
    merged = pd.read_csv('merged.csv', sep='\t')
    # tworzymy slownik ze wszystkich gatunkow
    genre_columns = merged['genre']
    avg_genre_ratings = dict.fromkeys(genre_columns, 0)

    # dla kazdego gatunku liczymy srednia dla danego usera
    for x in avg_genre_ratings:
        avg_genre_ratings[x] = np.nanmean(merged["rating"][(merged['genre'] == x) & (merged['userID'] == user_id)])

    # dodajemy userID do slownika
    avg_genre_ratings['userID'] = user_id

    return avg_genre_ratings


def zad7(user_id):
    avg_all, _ = zad5()
    avg_user = zad6(user_id)
    difference = dict.fromkeys(list(avg_all.keys()), 0)
    for x in avg_all:
        if np.isnan(avg_user[x]):
            difference[x] = 0
            continue
        difference[x] = avg_all[x] - avg_user[x]
    return difference

In [74]:
zad7(75)

/home/vagrant/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:9: RuntimeWarning: Mean of empty slice
  if __name__ == '__main__':

AttributeError: 'tuple' object has no attribute 'keys'

In [3]:
import pandas as pd
def merge_zad1():
    # zad1
    user_rated = pd.read_csv('user_ratedmovies.dat', sep='\t', nrows=100)
    movie_genres = pd.read_csv('movie_genres.dat', sep='\t')
    result = user_rated.merge(movie_genres, on='movieID')
    result.to_csv("merged.csv", sep='\t')
    return result

def ratings_zad2():
    user_movie_genre_rating = merge_zad1()
    # result = result[['userID', 'movieID', 'rating', 'genre']]
    ratings_one_hot = pd.concat([user_movie_genre_rating, pd.get_dummies(user_movie_genre_rating['genre'], prefix='genre')], axis=1)

    ratings_one_hot_grouped = ratings_one_hot.groupby(['userID', 'movieID', 'rating']).sum().drop(
        [col for col in ratings_one_hot.columns if 'date' in col], axis=1)
    # ratings_one_hot_grouped.set_index(['userID','movieID'])
    ratings_one_hot_grouped.to_csv('ratings.csv', sep='\t')
    return ratings_one_hot_grouped

In [14]:
merged = merge_zad1()
merged.iloc[:5]

,userID,movieID,rating,date_day,date_month,date_year,date_hour,date_minute,date_second,genre
0,75,3,1.0,29,10,2006,23,17,16,Comedy
1,75,3,1.0,29,10,2006,23,17,16,Romance
2,75,32,4.5,29,10,2006,23,23,44,Sci-Fi
3,75,32,4.5,29,10,2006,23,23,44,Thriller
4,78,32,5.0,7,5,2004,23,32,18,Sci-Fi

In [15]:
ratings.iloc[:5]

                       genre_Action  genre_Adventure  genre_Animation  \
userID movieID rating
75     3       1.0                0                0                0
       32      4.5                0                0                0
       110     4.0                1                0                0
       160     2.0                1                1                0
       163     4.0                1                0                0

                       genre_Children  genre_Comedy  genre_Crime  \
userID movieID rating
75     3       1.0                  0             1            0
       32      4.5                  0             0            0
       110     4.0                  0             0            0
       160     2.0                  0             0            0
       163     4.0                  0             0            0

                       genre_Documentary  genre_Drama  genre_Fantasy  \
userID movieID rating
75     3       1.0                     0            0              0
       32      4.5                     0            0              0
       110     4.0                     0            1              0
       160     2.0                     0            0              0
       163     4.0                     0            0              0

                       genre_Film-Noir  genre_Horror  genre_Musical  \
userID movieID rating
75     3       1.0                   0             0              0
       32      4.5                   0             0              0
       110     4.0                   0             0              0
       160     2.0                   0             0              0
       163     4.0                   0             0              0

                       genre_Mystery  genre_Romance  genre_Sci-Fi  \
userID movieID rating
75     3       1.0                 0              1             0
       32      4.5                 0              0             1
       110     4.0                 0              0             0
       160     2.0                 1              0             1
       163     4.0                 0              1             0

                       genre_Thriller  genre_War  genre_Western
userID movieID rating
75     3       1.0                  0          0              0
       32      4.5                  1          0              0
       110     4.0                  0          1              0
       160     2.0                  0          0              0
       163     4.0                  1          0              0

In [7]:
ratings = ratings_zad2().iloc[:10]

In [11]:
ratings2 = ratings.iloc[:10, 3:] == 1

In [12]:
columns = list(ratings2) 
  
for i in columns: 
    # printing the third element of the column 
    print (ratings2[i][2])

False
False
False
False
True
False
False
False
False
False
False
False
False
True
False